@font-face {
    font-family:"vazir";
    src: url(../bill-generator-js/fonts/Vazir-Regular-FD.eot) ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    max-width: 100%;
    height: 100%;
    background-color: #EA3918;
    padding-top: 20px;
}

p{
    margin: 0;
    padding: 0;
}

:root{
    --main-color:#F2F6FF;
}

.bg-main{
    background-color: var(--main-color);
}


.img-container{
    width: 100px;
    height: 80px;
}


.counter{
    width: 100px;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--main-color);
    display: flex;
}


.add-counter{
    width: 20px;
    height: 20px;
    background-color:#EA3918;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.icon-style{
    width: 70%;
    height: 70%;
}

.num-container{
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


.minus-conter{
    width: 20px;
    height: 20px;
    background-color:#EA3918;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main-conatainer{
    overflow-y: scroll;
    height:500px;
}

.left-container{
    height: 290px;
}

.fs-7{
    font-size: 14px;
}


.sub-btn{
    width: 25px;
    height: 25px;
    border: none;
    background-color: #EA3918;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-style{
    width: 100%;
    border: none;
    height: 25px;
    outline: none;
    cursor: text;
    padding: 10px;
}

.btn-style{
    height: 45px;
    width: 100%;
    margin-top: 15px;
}

.h-40px{
    height: 35px;
}